<div class="page-header" >

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>Requested Deployed Experiments</h1>
				<h3>View and manage requested deployed experiments</h3>
				<a class="btn btn-success btn-lg" data-toggle="modal" ng-href="#!/create_deployment"> 
				<i class="fa fa-cogs fa-2x pull-left"></i>&nbsp;&nbsp;Request New<br>&nbsp;Deployment</a>
				<a class="btn btn-info btn-lg" data-toggle="modal" ng-click="showActiveDeployments()"> 
				<i class="fa fa-circle-o fa-1x pull-left"></i>&nbsp;View all<br>Active</a>
				<a class="btn btn-primary btn-lg" data-toggle="modal" ng-click="showCompletedDeployments()"> 
				<i class="fa fa-check fa-1x pull-left"></i>&nbsp;View all<br>Completed</a>
				<a class="btn btn-danger btn-lg" data-toggle="modal" ng-click="showRejectedDeployments()"> 
				<i class="fa fa-remove fa-1x pull-left"></i>&nbsp;View all<br>Rejected</a>
				<a class="btn btn-default btn-lg" data-toggle="modal" ng-click="showFailedDeployments()"> 
				<i class="fa fa-remove fa-1x pull-left"></i>&nbsp;View all<br>Failed</a>
				<br>
				<br>
				
				
				<table id="grid1" tr-ng-grid="" class="usersGrid" items="mydeployments" page-items="50"
					fields="['id', 'name',  'experiment.name','dateCreated', 'startReqDate', 'endReqDate', 'startDate', 'endDate', 'description', 'feedback', 'mentor.name' , 'operationalStatus', 'configStatus', 'detailedStatus', 'constituentVnfrIps' ]">
					
					<thead>
						<tr>
							<th field-name="id" display-name="Id" cell-width="5em"display-align="right"></th>
							<th field-name="name" display-name="Name"></th>
			                <th field-name="dateCreated" display-name="Requested at Local Time" display-format="date:'dd-MM-yyyy HH:mm:ss'">
			                <th field-name="startReqDate" display-name="Requested Local Start Time" display-format="date:'dd-MM-yyyy HH:mm:ss'">
			                <th field-name="endReqDate" display-name="Requested Local End Time" display-format="date:'dd-MM-yyyy HH:mm:ss'">
			                <th field-name="startDate" display-name="Start Local Time" display-format="date:'dd-MM-yyyy HH:mm:ss'">
			                <th field-name="endDate" display-name="End Local Time" display-format="date:'dd-MM-yyyy HH:mm:ss'">
			                <th field-name="operationalStatus" display-name="Operational Status">
			                <th field-name="configStatus" display-name="Config Status">
			                <th field-name="detailedStatus" display-name="Detailed Status">
			                <th field-name="constituentVnfrIps" display-name="VNF IPs">
			                
							<th>
			                    <div class="tr-ng-title">
			                        Status
			                    </div>
			                </th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr>
							
							<td nowrap="nowrap" >
								<h4>									
									<span  ng-class="{label:true, 'label-primary': gridItem.status === 'UNDER_REVIEW', 
									'label-success': gridItem.status === 'SCHEDULED', 
									'label-danger': gridItem.status === 'REJECTED', 
									'label-info': gridItem.status === 'RUNNING', 
									'label-default': gridItem.status === 'COMPLETED', 
									'label-instantiating': gridItem.status === 'INSTANTIATING', 
									'label-terminating': gridItem.status === 'TERMINATING', 
									'label-terminated': gridItem.status === 'TERMINATED', 
									'label-termination-failed': gridItem.status === 'TERMINATION_FAILED',
									'label-deletion-failed': gridItem.status === 'DELETION_FAILED',
									'label-warning': gridItem.status === 'FAILED',
									'label-failed-osm-removed': gridItem.status === 'FAILED_OSM_REMOVED'									
									}" >{{gridItem.status}}</span>																		
								</h4>
							</td>
						</tr>	
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>