<div class="page-header" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 id="headerTitle">Add new Infrastructure</h1>

				<form class="form-horizontal" role="form" ng-submit="addInfrastructure()" id="addInfrastructureForm">
					<input type="hidden" name="infrastructureid" value="" />
					<div class="form-group">
						<label for="portalinfrastructure.name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"  ng-model="portalinfrastructure.name" value="" placeholder="name..." />
						</div>
					</div>
					<div class="form-group">
						<label for="portalinfrastructure.datacentername" class="col-sm-2 control-label">Datacenter VIM Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"  ng-model="portalinfrastructure.datacentername" value="" placeholder="datacenter VIM name..." />
						</div>
					</div>					
					<div class="form-group">
						<label for="organization" class="col-sm-2 control-label">Organization</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="portalinfrastructure.organization" value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">e-mail</label>
						<div class="col-sm-10">
							<input  type="email" class="form-control"  ng-model="portalinfrastructure.email" value="" placeholder="email"/>
						</div>
					</div>
					
					<div class="form-group">
						<label for="vimid" class="col-sm-2 control-label">VIM id</label>
						<div class="col-sm-10">
							<input  type="text" class="form-control"  ng-model="portalinfrastructure.vimid" value="" placeholder="vimid"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input class="btn btn-default" type="submit" value="Save" />
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>