<div class="page-header" >

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1>All registered available VxFs</h1>
				<h3>View and manage registered vxfs</h3>
				
				<a class="btn btn-success btn-lg" data-toggle="modal" ng-href="#!/vxf_upload"> 
				<i class="fa fa-upload fa-2x pull-left"></i>&nbsp;&nbsp;Upload VxF<br>archive</a>
				<!--  
				<a class="btn btn-success btn-lg" data-toggle="modal" ng-href="#!/vxf_add"> 
				<i class="fa fa-cogs fa-2x pull-left"></i>&nbsp;&nbsp;Create New<br>VxF</a>
				 -->
				<br>
				<br>								
				<table id="grid1" tr-ng-grid="" class="usersGrid" items="vxfs" page-items="50"
					fields="['id', 'name', 'published', 'certified', 'certifiedBy', 'shortDescription','longDescription',  'owner.username', 'packagingFormat']">
					
					<thead>
						<tr>
							<th field-name="id" display-name="Id" cell-width="5em"display-align="right"></th>
							<th field-name="name" display-name="Name"></th>
							<th field-name="published" display-name="Published"></th>
							<th field-name="certified" display-name="Certified"></th>
							<th field-name="certifiedBy" display-name="Certified by"></th>
							<th field-name="shortDescription" display-name="Teaser"></th>
							<th field-name="longDescription" display-name="Description"></th>
							<th>
			                    <div class="tr-ng-title">
									OnBoarding Status
			                    </div>
							</th>
							<th>
			                    <div class="tr-ng-title">
			                        Images
			                    </div>
			                </th>
							<th>
			                    <div class="tr-ng-title">
			                        Categories
			                    </div>
			                </th>
			                
							<th>
			                    <div class="tr-ng-title">
			                        Supported MANO platforms
			                    </div>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							    <ul ng-repeat="vobd in gridItem.vxfOnBoardedDescriptors" role="presentation" >
						    		{{vobd.onBoardingStatus}} 
						    		<!-- with OnBoard ID:{{vobd.id}} -->
					    		</ul>
				    		</td>							
							<td nowrap="nowrap" >
							<div ng-repeat="vfimage in  gridItem.vfimagesVDU">{{vfimage.name}}  {{$last ? '' : ', '}}</div>
							</td>
							<td nowrap="nowrap" >
							<div ng-repeat="vxfcat in gridItem.categories">{{vxfcat.name}}  {{$last ? '' : ', '}}</div>
							</td>
							<td nowrap="nowrap" >
							<div ng-repeat="vxfmanoprv in gridItem.supportedMANOPlatforms">{{vxfmanoprv.name}}  {{$last ? '' : ', '}}</div>
							</td>
							<td><a href="{{gridItem.packageLocation}}">Package</td>
							<td nowrap="nowrap" >
								<img width="120px" src="{{gridItem.iconsrc}}"> 
								
								<p><strong>Version: {{gridItem.version}}</strong><br></p>
								<!-- 
								<p><strong>UUID: {{gridItem.uuid}}</strong><br></p>
								<p><strong>Packaging Format: {{gridItem.packagingFormat}}</strong><br></p>
								<p><strong>Supported MANO Platforms: <span ng-repeat="vxfmanoprv in gridItem.supportedMANOPlatforms">{{vxfmanoprv.name}} {{$last ? '' : ', '}} </span> </strong><br></p>
								
								<p>Date created: <strong>{{gridItem.dateCreated| date:'medium'}}</strong></p>
								<p>Last update: <strong>{{gridItem.dateUpdated | date:'medium' }}</strong></p>
								 -->
								<a class="btn btn-danger" ng-click="deleteVxF(gridItem, gridItem.id)"><i class="fa fa-trash-o "></i></a>
								<a class="btn btn-primary" ng-href="#!/vxf_edit/{{gridDisplayItem.id}}"><i class="fa fa-pencil-square-o "></i></a>									
								<a class="btn btn-info" ng-href="#!/vxf_view/{{gridDisplayItem.id}}"><i class="fa fa-info-circle "></i></a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>